.button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.word {
  display: flex;
  color: white;
  font-size: 20px;
  font-family: Impact;
}

.logOutButton {
  min-width: 30px;
  font-size: small;
}
