.image {
  padding-top: 10px;
  margin: 0 auto;
  width: 10em;
  height: 10em;
}

mat-grid-list {

  margin-left: 5%;
  margin-right: 5%;
}

.productList {
  background-color: lightgrey;
  padding-top: 30px;
  padding-bottom: 30px;
}
