<div>
  <mat-tab-group color="warn">
    <mat-tab label="所有内容">
      <div class="productList">
        <mat-grid-list cols="4" rowHeight="300px" gutterSize="1em">
          <mat-grid-tile *ngFor="let product of products">
            <mat-card (click)="goToProductDetail(product)">
              <div *ngIf="product.isBought">
                <div class="boughtFlag"></div>
                <div class="boughtWord">已购买</div>
              </div>
              <mat-card-title>{{product.title}}</mat-card-title>
              <mat-card-content style="font-size: large; font-family: Impact">
                <img class="image" mat-card-image [src]="product.imgUrl"/>
                <p><span>￥{{product.price}}</span>
                  <span *ngIf="product.isBought" class="soldCount"
                        style="font-size: x-small">已售出{{product.soldCount}}件</span>
                </p>
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </mat-tab>
    <mat-tab *ngIf="isLogin && isBuyer" label="未购买的内容">
      <div class="notBoughtproducts">
        <mat-grid-list cols="4" rowHeight="300px" gutterSize="1em">
          <mat-grid-tile *ngFor="let product of notBoughtProducts">
            <mat-card (click)="goToProductDetail(product)">
              <mat-card-title>{{product.title}}</mat-card-title>
              <mat-card-content style="font-size: large; font-family: Impact">
                <img class="image" mat-card-image [src]="product.imgUrl"/>
                <p>￥{{product.price}}</p>
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
