.image {
  padding-top: 10px;
  margin: 0 auto;
  width: 10em;
  height: 10em;
}

mat-grid-list {
  margin-left: 10%;
  margin-right: 10%;
}

.productList {
  background-color: lightgrey;
  padding-top: 30px;
  padding-bottom: 3.1em;
}

.notBoughtproducts {
  background-color: lightgrey;
  padding-top: 30px;
  padding-bottom: 45px;
}

mat-card-title {
  padding-left: 10px;
}

p {
  padding-left: 5px;
}

.soldCount {
  padding-left: 40%;
  font-family: Verdana;
  font-weight: bold;
}

.boughtFlag {
  width: 0;
  height: 0;
  border-top: 5em solid grey;
  border-left: 6em solid transparent;
  position: absolute;
  right: 0;
  top: 0;
}

.boughtWord {
  position: absolute;
  left: auto;
  right: 0.6em;
  top: 0.75em;
  font-size: 1em;
  color: white;
}

.deleteButton {
  min-width: 20px;
  position: absolute;
  left: 60%;
  bottom: 6%;
}

mat-grid-tile {
  max-width: 230px;
}
