.image {
  padding-top: 10px;
  margin: 0 auto;
  width: 10em;
  height: 10em;
}

mat-grid-list {
  margin-left: 5%;
  margin-right: 5%;
}

.productList {
  background-color: lightgrey;
  padding-top: 30px;
  padding-bottom: 30px;
}

.notBoughtproducts {
  background-color: lightgrey;
  padding-top: 30px;
  padding-bottom: 45px;
}

mat-card-title {
  padding-left: 5px;
}

p {
  padding-left: 5px;
}
