<div class="site">
  <div>
    <mat-spinner *ngIf="showCenterSpinner" color="warn"></mat-spinner>
  </div>
  <mat-tab-group color="warn">
    <mat-tab label="所有内容">
      <div class="productList" *ngIf="!showCenterSpinner">
        <mat-grid-list cols="4" rowHeight="300px" gutterSize="1em">
          <mat-grid-tile *ngFor="let product of products">
            <mat-card (click)="goToProductDetail(product)">
              <div *ngIf="isLogin && isBuyer && product.bought">
                <div class="boughtFlag"></div>
                <div class="boughtWord">已购买</div>
              </div>
              <mat-card-title style="font-size: large;">{{product.title}}</mat-card-title>
              <mat-card-content style="font-size: large; font-family: Impact">
                <img *ngIf="product.imgUrl==''" mat-card-image class="image"
                     [src]="imageCachePath+product.productId+imageExtension"/>
                <img *ngIf="product.imgUrl!=''" mat-card-image class="image" [src]="product.imgUrl"/>
                <p><span>￥{{product.price}}</span>
                  <span *ngIf="isLogin && !isBuyer && product.bought" class="soldCount" style="font-size: x-small">已售出{{product.soldNumber}}件</span>
                </p>
              </mat-card-content>
            </mat-card>
            <button *ngIf="isLogin && !isBuyer && !product.bought" mat-raised-button class="deleteButton"
                    color="primary" (click)="openDeleteProductDialog(product)">删除
            </button>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </mat-tab>
    <mat-tab *ngIf="isLogin && isBuyer" label="未购买的内容">
      <div class="productList">
        <mat-grid-list cols="4" rowHeight="300px" gutterSize="1em">
          <mat-grid-tile *ngFor="let product of notBoughtProducts">
            <mat-card (click)="goToProductDetail(product)">
              <mat-card-title style="font-size: large;">{{product.title}}</mat-card-title>
              <mat-card-content style="font-size: large; font-family: Impact">
                <img *ngIf="product.imgUrl==''" mat-card-image class="image"
                     [src]="imageCachePath+product.productId+imageExtension"/>
                <img *ngIf="product.imgUrl!=''" mat-card-image class="image" [src]="product.imgUrl"/>
                <p>￥{{product.price}}</p>
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
