<div>
  <mat-spinner *ngIf="showSpinner" color="warn"></mat-spinner>
  <mat-table *ngIf="!showSpinner" #table [dataSource]="dataSource">
    <ng-container matColumnDef="image">
      <mat-header-cell *matHeaderCellDef>内容图片</mat-header-cell>
      <mat-cell *matCellDef="let orderItem">
        <img *ngIf="orderItem.imgUrl!=''" class="image" [src]="orderItem.imgUrl"/>
        <img *ngIf="orderItem.imgUrl==''" class="image" [src]="imageCachePath+orderItem.productId+imageExtension"/>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef>内容名称</mat-header-cell>
      <mat-cell *matCellDef="let orderItem"> {{orderItem.title}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="time">
      <mat-header-cell *matHeaderCellDef>购买时间</mat-header-cell>
      <mat-cell *matCellDef="let orderItem"> {{orderItem.date | date: 'yyyy-MM-dd HH:mm'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="count">
      <mat-header-cell *matHeaderCellDef>购买数量</mat-header-cell>
      <mat-cell class="count" *matCellDef="let orderItem"> {{orderItem.count}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="totalPrice">
      <mat-header-cell *matHeaderCellDef>购买价格</mat-header-cell>
      <mat-cell *matCellDef="let orderItem"> ￥{{orderItem.totalPrice}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <div *ngIf="!showSpinner" class="totalPaidAmount">消费总额: ￥{{totalPaidAmount.toFixed(2)}}</div>
</div>
