.image {
  padding-top: 5px;
  padding-bottom: 5px;
  max-height: 45px;
  max-width: 45px;
}

.count {
}

.totalPaidAmount {
  padding-left: 80%;
  margin-top: 20px;
  font-family: "Verdana";
}

mat-spinner {
  position: absolute;
  left: 45%;
  top: 45%;
}
