<form [formGroup]="form" (ngSubmit)="f.form.valid && login()" #f="ngForm">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <span color="primary" class="title">登录</span>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-input-container class="full-width" color="warn">
        <input matInput type="text" id="username" name="username" [(ngModel)]="model.username" placeholder="用户名"
               formControlName="username">
      </mat-input-container>
      <mat-input-container class="full-width" color="warn">
        <input matInput type="password" id="password" name="password" [(ngModel)]="model.password"
               placeholder="密码"
               formControlName="password">
      </mat-input-container>
      <div>
        <mat-radio-group formControlName="loginRole" [(ngModel)]="model.loginRole">
          <mat-radio-button [value]="1" class="BuyerOption">买家</mat-radio-button>
          <mat-radio-button [value]="2" class="SellerOption">卖家</mat-radio-button>
        </mat-radio-group>
      </div>
      <button mat-raised-button type="submit" class="loginButton" color="primary" id="loginButton">Login
      </button>
    </mat-card-content>
  </mat-card>
</form>
