<div class="imageDiv" *ngIf="product">
  <img class="image" [src]="product.imgUrl"/>
</div>
<div class="wordsDiv" *ngIf="product">
  <mat-list>
    <mat-list-item>{{product.title}}</mat-list-item>
    <mat-list-item>{{product.introduction}}</mat-list-item>
    <mat-list-item>￥{{product.price}}</mat-list-item>
    <mat-list-item>购买数量:
      <button mat-icon-button (click)="reduceCurrentCount()">
        <mat-icon>remove_circle_outline</mat-icon>
      </button>
      <span>{{currentCount}}</span>
      <button mat-icon-button (click)="addCurrentCount()">
        <mat-icon>add_circle_outline</mat-icon>
      </button>
    </mat-list-item>
    <mat-list-item>
      <button *ngIf="isLogin && isBuyer" mat-raised-button color="primary" [disabled]="product.bought"
              (click)="openAddToCartDialog()">添加到购物车
      </button>
      <span class="soldPrice" *ngIf="isLogin && isBuyer && product.bought">当时购买价格: ￥{{soldPrice}}</span>
      <button *ngIf="isLogin && !isBuyer" mat-raised-button color="primary" (click)="openEditPage()">编辑</button>
    </mat-list-item>
  </mat-list>
</div>
<p class="detail">详细信息</p>
<mat-divider></mat-divider>
<p class="detailWords" *ngIf="product">{{product.detail}}</p>
