.image {
  padding-top: 30px;
  padding-left: 20px;
  max-width: 300px;
  max-height: 300px;
}

.imageDiv {
  position: absolute;
  left: 30px;

}

.wordsDiv {
  position: absolute;
  left: 370px;
  top: 80px;
  font-family: Verdana;
}

.detail {
  padding-left: 20px;
  margin-top: 350px;
  font-family: Verdana;
  font-size: large;
}

.detailWords {
  font-family: Verdana;
  padding-left: 20px;
}
