<form *ngIf="formModel" [formGroup]="formModel" class="publishForm" (ngSubmit)="f.form.valid" #f="ngForm">
  <h2 *ngIf="!isPublish" style="font-family: Verdana">内容编辑</h2>
  <h2 *ngIf="isPublish" style="font-family: Verdana">内容发布</h2>
  <img [src]="productEdited.imgUrl">
  <img *ngIf="productEdited.productId!=0&&productEdited.imgUrl!=''" [src]="productEdited.imgUrl"/>
  <img *ngIf="productEdited.productId!=0&&productEdited.imgUrl==''" [src]="imagePath"/>
  <mat-form-field class="width" color="warn">
    <input matInput placeholder="标题" formControlName="title" *ngIf="productEdited">
    <mat-error>标题长度必须为2-80个字符</mat-error>
  </mat-form-field>
  <mat-form-field class="price" color="warn">
    <input matInput placeholder="价格" formControlName="price" *ngIf="productEdited">
    <mat-error>价格必须为不是0开头的数字</mat-error>
    <span class="yuan">元</span>
  </mat-form-field>
  <mat-form-field class="width" color="warn">
    <input matInput placeholder="摘要" formControlName="introduction" *ngIf="productEdited">
    <mat-error>摘要长度必须为2-140个字符</mat-error>
  </mat-form-field>
  <mat-radio-group formControlName="imageOption">
    <mat-radio-button class="radio-button" [value]="1" color="primary">图片地址</mat-radio-button>
    <mat-radio-button class="radio-button" [value]="2" color="primary">本地上传</mat-radio-button>
  </mat-radio-group>
  <mat-input-container class="width" color="warn" *ngIf="productEdited&&formModel.value.imageOption==1">
    <input matInput placeholder="图片地址" formControlName="imageUrl">
  </mat-input-container>
  <span *ngIf="productEdited&&formModel.value.imageOption==2">
    <input #fileInput class="file-choose" type="file" accept="image/jpeg" data-max-size="1024"
           (change)="selectFile($event)">
    <button mat-raised-button class="upload-button" type="button" color="primary" (click)="upload()">上传</button>
  </span>
  <mat-form-field class="width" color="warn">
    <textarea matInput placeholder="详情信息" matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="10"
              formControlName="detail" *ngIf="productEdited"></textarea>
    <mat-error>摘要长度必须为2-1000个字符</mat-error>
  </mat-form-field>
  <span>
        <button class="cancelButton" (click)="goBack()" color="primary" mat-raised-button>取消</button>
        <button class="publishButton" *ngIf="isPublish" (click)="saveProduct()" [disabled]="!formModel.valid"
                mat-raised-button
                color="primary">发布</button>
        <button class="publishButton" *ngIf="!isPublish" (click)="saveProduct()" [disabled]="!formModel.valid"
                mat-raised-button
                color="primary">保存</button>
    </span>
</form>
